<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS Document</title>
</head>
<body>
    <student-details my-title='Hello'></student-details>

    <!--Content Placeholder where the routed pages are displayed. ui-view is a part of angular-ui-router-->
    <ui-view style="color:blueviolet"></ui-view>
    <br/>
    <div ng-controller="MyCtrl">  
        <student-details my-list="students" my-title='Students'></student-details>       
        <table style="border:solid; color:brown">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in students">
                    <td>{{stud.name | myCustomFilter:stud.name.length}}</td>
                    <td>{{stud.age}}</td>
                    <td>{{stud.seniority}}</td>
                    <td>
                        <button ng-click="onClick(stud)">View {{stud.name}} Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div ng-show="selectedStudent">
            <h2>Student Details</h2>
            <p>Name: {{selectedStudent.name}}</p>
            <p>Age: {{selectedStudent.age}}</p>
            <p>Seniority: {{selectedStudent.seniority}}</p>
        </div> -->
        <student-details my-title='Student Details' current-student='selectedStudent'></student-details>
        
    </div>
<!--The order of the below packages should be maintained -->
<script src="angular.js"></script>
<script src="angular-ui-router.js"></script>
<script src="app.js"></script>
<script src="app.service.js"></script>
<script src="app.filter.js"></script>
<script src="app.component.js"></script>
</body>
</html>